{{ define "relaunch_job.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="shortcut icon" type="image/jpg" href="/img/aap/favicon.ico"/>
        <link href="/css/aap/style.css" rel="stylesheet">
        <script src="/js/aap/relaunch_job.js" defer></script>
    </head>
    <body>
        <div class="form-container">
            <label for="template_name">Job Template:</label>
            <select name="templates" id="template_name">
                <option>Select Job Template</option>
            {{ range $k, $v := .template_ids }}
                <option {{ if eq $k $.template }}selected="selected"{{ end }}>{{ $v.name }}</option>
            {{ end }}
            </select>

            <label for="snow_incident">ServiceNow Incident:</label>
            <input type="text" tabindex="3" id="snow_incident" name="snow_incident" placeholder="Incident Number" value="{{ .snow_incident }}"></input><br>

            <label for="configuration_item">Configuration Item:</label>
            <input type="text" tabindex="4" id="configuration_item" name="configuration_item" placeholder="Configuration Item" value="{{ .configuration_item }}"></input><br>

            <button type="submit" tabindex="1" onclick="relaunch_job({{ .template_ids }})">Relaunch Job</button>

            <br><br>
            <output id="output" class="output-container" style="display:none">
                <div>Status: <span id="status"></span></div>
                <div>Created: <span id="created"></span></div>
                <div>Job ID: <span id="job_id"></span></div>
                <div>Job Log: <span id="url"></span></div>
            </output>
        </div>
    </body>
</html>
{{ end }}
